*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background: rgba(0, 0, 0, 0.5) url('slike/ozadje.jpg') ;
    background-blend-mode: darken;
	background-size: cover;
    background-position: center;
    min-height: 100%;
}

.logo img{
    width: 7.5%;
    margin-left: 10%;
	margin-top: 25px;
}

.vpisnookno{
    position: absolute;
    margin-left: 36%;
    margin-top: 1%;
    width: 440px;
    height: 650px;
    background-color: rgba(0,0,0,0.5);

}

.vpisnookno h1{
    color: #fff;
    margin-top: 60px;
    margin-left: 50px;
}

input{
    margin-left: 50px;
    margin-top: 20px;
    width: 320px;
    height: 47px;
    background-color: #333;
    border-radius: 3px;
    border: none;
    font-size: 20px;
}

input::placeholder{
    font-size: 17px;
    margin-left: 15px;
    padding: 12px;
}

input[type=submit]{
    width: 320px;
    height: 45px;
    background-color: red;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}

input[type=checkbox]{
    width: 25px;
    height: 18px;
    border-radius: 5px;
}

label{
    color: rgb(125, 119, 119);
}

.form a{
    float: right;
    margin-top: 24px;
    margin-right: 64px;
    color: rgb(125, 119, 119);
    text-decoration: none;
}

.napis{
    position: absolute;
    margin-top: 80px;
    font-size: 9px;
    margin-left: 55px;
}

.napis h2{
    color: rgb(125, 119, 119);
}

.napis a{
    color: #fff;
    text-decoration: none;
}
/* Tablice (širina do 1024px) */
@media (max-width: 1024px) {
    .logo img {
        width: 10%;
        margin-left: 5%;
    }

    .vpisnookno {
        margin-left: 30%;
        width: 400px;
        height: auto;
    }

    input {
        width: 80%;
        font-size: 18px;
    }

    input[type=submit] {
        width: 80%;
    }

    .form a {
        margin-right: 10%;
    }
}

/* Manjše naprave (širina do 768px) */
@media (max-width: 768px) {
    .logo img {
        width: 15%;
        margin-left: 42%;
        margin-top: 20px;
    }

    .vpisnookno {
        position: relative;
        margin: 50px auto;
        width: 80%;
        height: auto;
        padding-bottom: 30px;
    }

    .vpisnookno h1 {
        margin-left: 0;
        text-align: center;
    }

    input {
        margin-left: 10%;
        width: 80%;
    }

    input[type=submit] {
        margin-left: 10%;
        width: 80%;
    }

    .form a {
        float: none;
        display: block;
        text-align: center;
        margin: 20px auto;
    }

    .napis {
        position: relative;
        margin-left: 0;
        text-align: center;
        font-size: 11px;
    }
}

/* Telefoni (širina do 480px) */
@media (max-width: 480px) {
    .logo img {
        width: 25%;
        margin-left: 37%;
    }

    .vpisnookno {
        width: 90%;
        margin: 30px auto;
        padding: 20px 0;
    }

    .vpisnookno h1 {
        font-size: 22px;
    }

    input {
        width: 80%;
        height: 40px;
        font-size: 16px;
    }

    input[type=submit] {
        width: 80%;
        height: 42px;
        font-size: 16px;
    }

    .napis {
        font-size: 10px;
        margin-top: 40px;
    }
}

